index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>We-love-pinky.com | The luxury clothes by Pinky</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <!-- SCHEME TAG-->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "We-love-pinky.com | The luxury clothes by Pinky",
        "url": "https://we-love-pinky.com",
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "(052) 611-5711",
            "contactType": "Customer service"
          }
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "575 通りの名前、東京、日本",
          "addressCountry": "Japan"
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="wrapper">
          <div class="wrapper-up">
            <h1 class="header-logo"><a class="trans" href="./index.html"><img src="./img/top/header_logo.png" alt="DORA'"></a></h1>
            <div class="button-menu js-button-menu sm"><span></span><span></span><span></span></div>
            <form class="form-search">
              <input class="input-search" type="text" name="search" placeholder="キーワードを入力">
              <button class="button-search"><img src="./img/top/search_icon.png" alt="search"></button>
            </form>
            <ul class="list-index">
              <li><a href="#"><img class="is-black" src="./img/top/user_icon.png" alt="user"><img class="is-pink" src="./img/top/user_icon_pink.png" alt="user"></a></li>
              <li><a href="#"><img class="is-black" src="./img/top/like_icon.png" alt="like"><img class="is-pink" src="./img/top/like_icon_pink.png" alt="like"></a></li>
              <li><a href="#"><img class="is-black" src="./img/top/lock_icon.png" alt="lock"><img class="is-pink" src="./img/top/lock_icon_pink.png" alt="lock"></a></li>
              <li><a class="cart-icon" href="#"><img class="is-black" src="./img/top/cart_icon.png" alt="cart"><img class="is-pink" src="./img/top/cart_icon_pink.png" alt="cart"></a></li>
            </ul>
          </div>
          <nav class="header-nav">
            <ul class="nav-menu">
              <li class="nav-item"><a class="trans" href="#">ホームページ</a></li>
              <li class="nav-item"><a class="trans" href="#">製品</a></li>
              <li class="nav-item"><a class="trans" href="#">ブログ</a></li>
              <li class="nav-item"><a class="trans" href="#">連絡先</a></li>
              <li class="nav-item"><a class="trans" href="#">カテゴリー</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <div class="top-keyvisual">
          <div class="wrapper">
            <ul class="js-slick-slider">
              <li class="image-keyvisual"><img src="./img/top/keyvisual_img_01.png" alt="MID SEASON SALE! 40% OFF"></li>
              <li class="image-keyvisual"><img src="./img/top/keyvisual_img_01.png" alt="MID SEASON SALE! 40% OFF"></li>
              <li class="image-keyvisual"><img src="./img/top/keyvisual_img_01.png" alt="MID SEASON SALE! 40% OFF"></li>
            </ul>
          </div>
        </div>
        <div class="top-advertise">
          <div class="wrapper">
            <ul class="wrap-advertise">
              <li class="advertise-item"><a class="trans image-advertise" href="#"><img src="./img/top/advertise_img_01.png" alt="Denim"></a></li>
              <li class="advertise-item"><a class="trans image-advertise" href="#"><img src="./img/top/advertise_img_02.png" alt="BEACH ESSENTIALS UP TO 40% OFF"></a></li>
              <li class="advertise-item is-full"><a class="trans image-advertise" href="#"><img src="./img/top/advertise_img_03.png" alt="be yourself"></a></li>
            </ul>
          </div>
        </div>
        <article class="section-top-collection">
          <div class="wrapper">
            <h2 class="section-title"><span class="is-japan">サンプルテキスト</span><span class="is-english">NEW COLLECTION</span></h2>
            <div class="sub-wrapper">
              <aside class="category-collection">
                <h3 class="title-category">CATEGORY</h3>
                <ul class="list-category">
                  <li class="item-category"><a class="trans" href="#">ルーキー</a></li>
                  <li class="item-category"><a class="trans" href="#">ベスト・セラー</a></li>
                  <li class="item-category"><a class="trans" href="#">トップス</a></li>
                  <li class="item-category"><a class="trans" href="#">底</a></li>
                  <li class="item-category"><a class="trans" href="#">スニーカー</a></li>
                  <li class="item-category"><a class="trans" href="#">アクセサリー</a></li>
                  <li class="item-category"><a class="trans" href="#">バッグ</a></li>
                  <li class="item-category"><a class="trans" href="#">セールオフ</a></li>
                </ul>
              </aside>
              <div class="list-collection js-slider-collection"><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/collection_img_01.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/collection_img_02.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/collection_img_03.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/collection_img_01.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/collection_img_02.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/collection_img_03.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a>
              </div>
            </div>
          </div>
        </article>
        <div class="top-banner-collection">
          <div class="wrapper">
            <div class="group-collection-banner"><a class="trans image-banner" href="#"><img src="./img/top/collection_banner_01.png" alt="HIGH QUALITY FASHION 30% OFF"></a>
              <ul class="wrap-new-collection">
                <li class="new-collection"><a class="trans" href="#"><img src="./img/top/collection_banner_02.png" alt="New Collecion Awesome Picks"></a></li>
                <li class="new-collection"><a class="trans" href="#"><img src="./img/top/collection_banner_03.png" alt="new collection"></a></li>
                <li class="super-sale"><a class="trans" href="#"><img src="./img/top/collection_banner_04.png" alt="DON'T MISS IT! SUPER SALE DISCOUNT 50% OFF"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <section class="section-top-trend">
          <div class="wrapper">
            <h2 class="section-title"><span class="is-japan">サンプルテキスト</span><span class="is-english">NEW TREND</span></h2>
            <ul class="wrapper-top-trend">
              <li><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/trend_img_01.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a>
              </li>
              <li><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/trend_img_02.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a>
              </li>
              <li><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/trend_img_03.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a>
              </li>
              <li><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/trend_img_04.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a>
              </li>
              <li><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/trend_img_05.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a>
              </li>
              <li><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/trend_img_06.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a>
              </li>
              <li><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/trend_img_07.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a>
              </li>
              <li><a class="trans item-product" href="#">
                  <figure class="image-product"><img src="./img/top/trend_img_08.png" alt="サンプル商品"/></figure>
                  <div class="product-information">
                    <h3 class="product-name">サンプル商品</h3>
                    <p class="price-product"><span class="sale-price">1,203&yen;</span>
                    </p>
                  </div></a>
              </li>
            </ul><a class="trans trend-banner" href="#"><img src="./img/top/trend_banner.png" alt="BEST SELLING Women's shoes"></a>
          </div>
        </section>
        <div class="top-blogs-instagram">
          <div class="wrapper">
            <section class="section-top-blogs">
              <h2 class="title-blogs-instagram">BLOGS</h2>
              <ul class="list-post-blogs">
                <li class="item-blogs"><a class="trans" href="#">
                    <time class="time-blogs" datetime="2020-05-29">2020/05/29</time>
                    <p class="text-blogs">NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。</p>
                    <div class="button-blogs"><img src="./img/top/accordion_icon.png" alt="accordion"></div></a></li>
                <li class="item-blogs"><a class="trans" href="#">
                    <time class="time-blogs" datetime="2020-05-27">2020/05/27</time>
                    <p class="text-blogs">NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。</p>
                    <div class="button-blogs"><img src="./img/top/accordion_icon.png" alt="accordion"></div></a></li>
                <li class="item-blogs"><a class="trans" href="#">
                    <time class="time-blogs" datetime="2020-05-27">2020/05/27</time>
                    <p class="text-blogs">NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。</p>
                    <div class="button-blogs"><img src="./img/top/accordion_icon.png" alt="accordion"></div></a></li>
                <li class="item-blogs"><a class="trans" href="#">
                    <time class="time-blogs" datetime="2020-05-25">2020/05/25</time>
                    <p class="text-blogs">NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。</p>
                    <div class="button-blogs"><img src="./img/top/accordion_icon.png" alt="accordion"></div></a></li>
              </ul>
            </section>
            <section class="section-top-instagram">
              <h2 class="title-blogs-instagram">INSTAGRAM</h2><span class="list-post-instagram js-slider-instagram" id="instagram"></span>
            </section>
          </div>
        </div>
      </main>
      <footer>
        <div class="wrapper">
          <ul class="list-footer">
            <li><a class="trans" href="#">当サイトについて</a></li>
            <li><a class="trans" href="./privacy/">プライバシーポリシー</a></li>
            <li><a class="trans" href="#">特定商取引法に基づく表記</a></li>
            <li><a class="trans" href="#">お問い合わせ</a></li>
          </ul>
          <div class="wrapper-footer"><a class="trans footer-logo" href="./"><img src="./img/top/footer_logo.png" alt="DORA'"></a>
            <div class="information-contact">
              <p><a class="trans telephone" href="tel:0526115711">(052) 611-5711</a></p>
              <p><a class="trans email" href="mailto:company@domain.com">company@domain.com</a></p>
              <address class="address-contact">575 通りの名前、東京、日本</address>
            </div>
          </div>
          <ul class="social-media">
            <li><a class="is-facebook trans" href="#">
                <figure class="image-social"><img src="./img/top/facebook_icon.svg" alt="facebook"></figure></a></li>
            <li><a class="is-pinterest trans" href="#">
                <figure class="image-social"><img src="./img/top/pinterest_icon.svg" alt="pinterest"></figure></a></li>
            <li><a class="is-instagram trans" href="#">
                <figure class="image-social"><img src="./img/top/instagram_icon.svg" alt="instagram"></figure></a></li>
            <li><a class="is-google trans" href="#">
                <figure class="image-social"><img src="./img/top/google_icon.svg" alt="google plus"></figure></a></li>
          </ul><small class="text-copyright">Copyright (c) EC-CUBE DEMO SHOP. <br class="sm">All Rights Reserved.</small>
        </div>
      </footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">   </script>
    <script src="./js/instafeed.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>

dev/pug/index.pug
extends _layouts/default

block vars
  -title        = 'We-love-pinky.com | The luxury clothes by Pinky'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'
block schema
  // SCHEME TAG
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "We-love-pinky.com | The luxury clothes by Pinky",
      "url": "https://we-love-pinky.com",
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "telephone": "(052) 611-5711",
          "contactType": "Customer service"
        }
      ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "575 通りの名前、東京、日本",
        "addressCountry": "Japan"
      }
    }
block container
  //- <div class="top-keyvisual">
  //-   <div class="wrapper">
  //-     <ul class="js-slick-slider">
  //-       <li class="image-keyvisual"><img src="./img/top/keyvisual_img_01.png" alt="MID SEASON SALE! 40% OFF"></li>
  //-     </ul>
  //-   </div>
  //- </div>
  .top-keyvisual
    .wrapper
      ul.js-slick-slider
        li.image-keyvisual
          img(src=path+"/img/top/keyvisual_img_01.png", alt="MID SEASON SALE! 40% OFF")
        li.image-keyvisual
          img(src=path+"/img/top/keyvisual_img_01.png", alt="MID SEASON SALE! 40% OFF")
        li.image-keyvisual
          img(src=path+"/img/top/keyvisual_img_01.png", alt="MID SEASON SALE! 40% OFF")
  .top-advertise
    .wrapper
      ul.wrap-advertise
        li.advertise-item
          a.trans.image-advertise(href="#")
            img(src=path+"/img/top/advertise_img_01.png", alt="Denim")
        li.advertise-item
          a.trans.image-advertise(href="#")
            img(src=path+"/img/top/advertise_img_02.png", alt="BEACH ESSENTIALS UP TO 40% OFF")
        li.advertise-item.is-full
          a.trans.image-advertise(href="#")
            img(src=path+"/img/top/advertise_img_03.png", alt="be yourself")
  article.section-top-collection
    .wrapper
      h2.section-title
        span.is-japan サンプルテキスト
        span.is-english NEW COLLECTION
      .sub-wrapper
        aside.category-collection
          h3.title-category CATEGORY
          ul.list-category
            li.item-category
              a.trans(href="#") ルーキー
            li.item-category
              a.trans(href="#") ベスト・セラー
            li.item-category
              a.trans(href="#") トップス
            li.item-category
              a.trans(href="#") 底
            li.item-category
              a.trans(href="#") スニーカー
            li.item-category
              a.trans(href="#") アクセサリー
            li.item-category
              a.trans(href="#") バッグ
            li.item-category
              a.trans(href="#") セールオフ
        .list-collection.js-slider-collection
          +itemProduct("#","/img/top/collection_img_01.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_02.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_03.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_01.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_02.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_03.png","サンプル商品","サンプル商品",false,"1,203&yen;")
  .top-banner-collection
    .wrapper
      .group-collection-banner
        a.trans.image-banner(href="#")
          img(src=path+"/img/top/collection_banner_01.png", alt="HIGH QUALITY FASHION 30% OFF")
        ul.wrap-new-collection
          li.new-collection
            a.trans(href="#")
              img(src=path+"/img/top/collection_banner_02.png", alt="New Collecion Awesome Picks")
          li.new-collection
            a.trans(href="#")
              img(src=path+"/img/top/collection_banner_03.png", alt="new collection")
          li.super-sale
            a.trans(href="#")
              img(src=path+"/img/top/collection_banner_04.png", alt="DON'T MISS IT! SUPER SALE DISCOUNT 50% OFF")
  section.section-top-trend
    .wrapper
      h2.section-title
        span.is-japan サンプルテキスト
        span.is-english NEW TREND
      ul.wrapper-top-trend
        li
          +itemProduct("#", "/img/top/trend_img_01.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_02.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_03.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_04.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_05.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_06.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_07.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_08.png","サンプル商品","サンプル商品",false,"1,203&yen;")
      a.trans.trend-banner(href="#")
        img(src=path+"/img/top/trend_banner.png", alt="BEST SELLING Women's shoes")
  .top-blogs-instagram
    .wrapper
      section.section-top-blogs
        h2.title-blogs-instagram BLOGS
        ul.list-post-blogs
          li.item-blogs
            a.trans(href="#")
              time.time-blogs(datetime="2020-05-29") 2020/05/29
              p.text-blogs NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
              .button-blogs
                img(src=path+"/img/top/accordion_icon.png", alt="accordion")
          li.item-blogs
            a.trans(href="#")
              time.time-blogs(datetime="2020-05-27") 2020/05/27
              p.text-blogs NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
              .button-blogs
                img(src=path+"/img/top/accordion_icon.png", alt="accordion")
          li.item-blogs
            a.trans(href="#")
              time.time-blogs(datetime="2020-05-27") 2020/05/27
              p.text-blogs NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
              .button-blogs
                img(src=path+"/img/top/accordion_icon.png", alt="accordion")
          li.item-blogs
            a.trans(href="#")
              time.time-blogs(datetime="2020-05-25") 2020/05/25
              p.text-blogs NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
              .button-blogs
                img(src=path+"/img/top/accordion_icon.png", alt="accordion")
      section.section-top-instagram
        h2.title-blogs-instagram INSTAGRAM
        span#instagram.list-post-instagram.js-slider-instagram
